<div>
    <div id="collection-column-user-dropdown" class="dropdown {{#is this.activeFolderOptions 0}}is-active{{/is}}">
        <div class="dropdown-trigger">
            <div class="collection-column-header is-vertical-center">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="collection-column-item-title">{{this.username}}</span>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-medium">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-menu" id="collection-column-user-dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a class="dropdown-item">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="collection-column-item-title">Settings</span>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="icon"><i class="fas fa-cog"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                    <div id="collection-column-sign-out" class="button is-fullwidth">
                        Sign out
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-column-item collection-button {{#is this.selectedFolder 0}}is-active{{/is}}" folder-id="0">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="icon"><i class="fas fa-sticky-note"></i></span>
                    <span class="collection-column-item-title">All Notes</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-column-item collection-button {{#is this.selectedFolder -1}}is-active{{/is}}" folder-id="-1">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="icon"><i class="fas fa-trash"></i></span>
                    <span class="collection-column-item-title">Trash</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-column-spacer"></div>
    {{#each this.folders}}
    <div class="dropdown collection-column-collection-options-dropdown {{#is ../activeFolderOptions this.id}}is-active{{/is}}" folder-id="{{this.id}}">
        <div class="dropdown-trigger">
            <div class="collection-column-item collection-button {{#is ../selectedFolder this.id}}is-active{{/is}}"
                folder-id="{{this.id}}">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <span class="icon"><i class="fas fa-folder"></i></span>
                            <span class="collection-column-item-title">{{this.title}}</span>
                        </div>
                    </div>
                    <div class="level-right collection-column-collection-options-button" folder-id="{{this.id}}">
                        <div class="level-item">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown-menu">
            <div class="dropdown-content">
                <a class="dropdown-item collection-column-collection-options-rename" folder-id="{{this.id}}">Rename</a>
                <a class="dropdown-item has-text-danger collection-column-collection-options-delete" folder-id="{{this.id}}">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
    <div id="create-collection-button" class="collection-column-item collection-column-create-collection">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span id="create-collection-button-title" class="collection-column-item-title">Create Collection</span>
                </div>
            </div>
        </div>
    </div>
</div>