<div>
    <div class="box">
        <div class="title">Create Note</div>
        <div class="field">
            <div class="field has-addons">
                <div class="control">
                    <div class="dropdown" id="{{this.dropdown_id}}">
                        <div class="dropdown-trigger" id="{{this.dropdown_target_id}}">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span id="{{this.selected_folder_id}}" folder-id="{{this.selectedFolderId}}">{{this.selectedFolderTitle}}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="{{this.dropdown_id}}" role="menu">
                            <div class="dropdown-content">
                                {{#each this.folders}}
                                <a class="dropdown-item {{../dropdown_item_class}}" folder-id="{{this.id}}">
                                    {{this.title}}
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control is-expanded">
                    <input id="{{this.input_id}}" class="input" type="text" placeholder="Untitled" maxlength="20">
                </div>
                <div class="control">
                    <div id="{{this.button_id}}" class="button is-info">Create</div>
                </div>
            </div>
            <p class="help">
                Max length of 20 characters
            </p>
        </div>
    </div>
</div>