<div>
    <div class="box">
        <div class="title">Delete Collection</div>
        <div class="subtitle">
            <span>Are you sure you want to delete {{this.folder_title}}?</span>
            {{#if this.note_count}}
            <br>
            <span><strong class="has-text-danger">{{this.note_count}} notes contained inside {{this.folder_title}} will also be deleted!</strong></span>
            {{/if}}
        </div>

        <div class="field is-grouped">
            <div class="control">
                <div id="{{this.delete_button_id}}" class="button is-danger">Delete {{this.folder_title}}</div>
            </div>
            <div class="control">
                <div id="{{this.cancel_button_id}}" class="button">Cancel</div>
            </div>
        </div>
    </div>
</div>