<div>
    {{#if this.isFolder}}
    <div id="note-column-add-note" class="note-column-item">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <p>Write a new note</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#each notes}}
    <div class="dropdown is-right note-column-note-options-dropdown {{#is ../activeNoteOptions this.note.id}}is-active{{/is}}"
        note-id="{{this.note.id}}">
        <div class="dropdown-trigger note-column-item note-column-note {{#if this.selected}}is-active{{/if}}"
            note-id="{{this.note.id}}">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="has-text-weight-bold note-column-note-title">{{this.note.title}}</h1>
                    </div>
                </div>
                <div class="level-left">
                    <div class="level-item">
                        <p>{{#formatDate this.note.last_edited}}{{/formatDate}}</p>
                    </div>
                    <div class="level-left note-column-note-options-button" note-id="{{this.note.id}}">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown-menu">
            <div class="dropdown-content">
                <a class="dropdown-item note-column-note-options-rename" note-id="{{this.note.id}}">Rename</a>
                <a class="dropdown-item has-text-danger note-column-note-options-delete"
                    note-id="{{this.note.id}}">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
    {{#if this.emptyFolder}}
    <div class="note-column-text">
        This collection is empty, try adding a note to it!
    </div>
    {{/if}}
    {{#if this.noSearchResults}}
    <div class="note-column-text">
        No results.
    </div>
    {{/if}}
</div>